@media (max-width: 1190px) {
  .container {
    padding: 0 50px;
  }

  .hero__container {
    padding: 114px 50px 68px 50px;
  }

  .hero-swiper {
    top: -36px;
  }

  .hero__content {
    width: 75%;
  }

  .hero__title {
    margin-bottom: 11px;
  }

  .hero__text {
    margin-bottom: 133px;
  }

  .hero__btn {
    padding: 20px 32px;
  }

  .header-bottom {
    display: none;
  }

  .header-top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-top__logo {
    margin-right: 0;
  }

  .header__burger {
    position: relative;
    display: block;
    z-index: 11;
  }

  .burger.active {
    position: fixed;
    top: 38px;
    left: 50px;
  }

  .nav__list {
    display: block;
  }

  .header-top__nav {
    margin-bottom: 113px;
  }

  .header-top__right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 100%;
    padding: 76px 173px 105px 15px;
    width: 100%;
    height: 768px;
    background-color: rgb(0, 0, 0, 0.9);
    transition: all .4s ease 0s;
    z-index: 2;
  }

  .header-top__right.active {
    right: 0;
    z-index: 10;
  }

  .header-top__right {
    padding: 96px 50px 10px 48px;
  }

  .search-form {
    display: none;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: translate(120%, 15%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .search-form__active {
    display: inline-flex;
    width: 259px;
    height: 37px;
    background-color: var(--color-baltic);
    transform: translate(-13%, 15%);
    opacity: 1;
    z-index: 1;
  }

  .search-form__input {
    height: 31px;
  }

  .search-form__input::-webkit-input-placeholder {
    font-size: 0;
  }

  .search-form__input::-moz-placeholder {
    font-size: 0;
  }

  .search-form__input:-ms-input-placeholder {
    font-size: 0;
  }

  .search-form__input::-ms-input-placeholder {
    font-size: 0;
  }

  .search-form__input::placeholder {
    font-size: 0;
  }

  .search-margin {
    width: 29.5px;
    height: 28.85px;
    background-image: url('../img/svg/search-1024.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease-in-out;
  }

  .search-margin.active {
    opacity: 0;
  }

  .search-form__icon {
    display: flex;
    width: 30px;
    height: 29px;
  }

  .nav__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 267%;
    color: var(--color-white);
  }

  .header-top__login {
    padding: 17px 89px;
    font-weight: 600;
    border: 2px solid var(--color-amethyst);
    border-radius: 100px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  .header-top__login:active {
    color: var(--color-white);
    background-color: var(--color-amethyst);
  }

  .hero__slide_1::before {
    background-image: url('../img/hero/hero1-1024.jpg');
  }

  .hero__slide_2::before {
    background-image: url('../img/hero/hero2-1024.jpg');
  }

  .hero__slide_3::before {
    background-image: url('../img/hero/hero3-1024.jpg');
  }

  .about-us {
    padding-top: 78px;
    padding-bottom: 54px;
  }

  .about-us__container {
    max-width: 100%;
  }

  .gallery {
    min-height: 839px;
    background-image: url('../img/gallery/gallery-bg-tablet.jpg');
  }

  .gallery__container {
    padding-top: 80px;
  }

  .gallery__content {
    max-width: 100%;
  }

  .gallery__left {
    max-width: 280px;
  }

  .gallery-swiper {
    height: 600px;
    z-index: 0;
  }

  .filter-gallery {
    height: 447px;
  }

  .slider-nav__item {
    height: 280px;
  }
}

@media (max-width: 922px) {
  .header-top {
    padding: 27px 0;
  }

  .hero__content {
    width: 100%;
  }

  .hero__slide_1::before {
    background-image: url('../img/hero/hero1-768.jpg');
  }

  .hero__slide_2::before {
    background-image: url('../img/hero/hero2-768.jpg');
  }

  .hero__slide_3::before {
    background-image: url('../img/hero/hero3-768.jpg');
  }

  .gallery {
    padding-bottom: 70px;
    background-image: url('../img/gallery/gallery-bg768.jpg');
  }

  .gallery__container {
    flex-direction: column;
  }

  .gallery-swiper {
    margin-bottom: 24px;
  }

  .slider-nav__item {
    height: calc((100% - 34px) / 2);
  }

  .filter-gallery {
    height: 106px;
  }

  .gallery__content {
    display: none;
  }

  .gallery__content_tablet {
    display: flex;
  }

  .is-open .choices__list--dropdown .choices__list {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .search-margin {
    z-index: 10;
  }

  .search-form__input {
    width: 625px;
    height: 40px;
  }

  .search-form__active {
    display: inline-flex;
    width: 88%;
    height: 50px;
    padding-left: 30px;
    background-color: var(--color-bg);
    transform: translate(-8%, -5%);
    opacity: 1;
    z-index: 50;
  }

  .search-form__btn_close {
    display: flex;
    transform: translate(17px, 9px);
  }
}

@media (max-width: 620px) {
  .hero__title {
    font-size: 60px;
    line-height: 75px;
  }

  .header-top__right {
    height: 752px;
    padding: 100px 50px 10px 50px;
  }

  .header-top__nav {
    margin-bottom: 70px;
  }
}

@media (max-width: 530px) {
  .container {
    padding: 0 15px;
  }

  .burger {
    width: 25px;
    height: 18px;
  }

  .burger.active {
    position: fixed;
    top: 17px;
    left: 15px;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(1px, 5px);
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -10px);
  }

  .burger .line {
    height: 2px;
  }

  .burger .line:nth-child(2) {
    width: 65%;
  }

  .burger .line:nth-child(3) {
    width: 45%;
  }

  .search-margin {
    width: 18px;
    height: 18px;
    background-image: url('../img/svg/search-320.svg');
  }

  .close-btn {
    display: flex;
    position: absolute;
    top: -11px;
    right: -32px;
    width: 15px;
    height: 15px;
  }

  .close-btn svg {
    background-color: var(--color-white);
  }

  .search-form__icon {
    display: flex;
    width: 16px;
    height: 16px;
  }

  .search-form__active {
    background-color: var(--color-bg);
    padding: 19px 25px 0px 71px;
    width: 105%;
    height: 75px;
    transform: translate(5%, -16%);
  }

  .search-form__input {
    width: 74%;
    height: 38px;
  }

  .header-top {
    padding: 10px 0;
  }

  .header-top__right {
    height: 355px;
    padding: 46px 50px 10px 15px;
  }

  .header-top__nav {
    margin-bottom: 19px;
  }

  .header-top__login {
    padding: 9px 27px;
    min-width: 115px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .nav__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }

  .hero {
    min-height: 100px;
  }

  .hero-swiper {
    top: -20px;
  }

  .hero__slide_1::before {
    background-image: url('../img/hero/hero1-320.jpg');
  }

  .hero__slide_2::before {
    background-image: url('../img/hero/hero2-320.jpg');
  }

  .hero__slide_3::before {
    background-image: url('../img/hero/hero3-320.jpg');
  }

  .hero__container {
    padding: 33px 15px 50px 15px;
  }

  .hero__title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 13px;
    text-align: center;
  }

  .hero__text {
    max-width: 95%;
    padding-left: 15px;
    margin-bottom: 41px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .hero__btn {
    display: flex;
    align-items: center;
    padding: 9px 15px;
    margin: 0 auto;
    min-width: 200px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .about-us {
    padding-top: 45px;
    padding-bottom: 27px
  }

  .title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .about-us__title {
    margin-bottom: -2px;
  }

  .about-us__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    padding-top: 50px;
    padding-bottom: 40px;
    background-image: url('../img/gallery/gallery-bg320.jpg');
  }

  .gallery__title {
    margin-bottom: 12px;
  }

  .gallery__left {
    margin-right: 0;
    max-width: 290px;
  }

  .gallery__right {
    display: flex;
    flex-direction: column;
  }

  .filter-gallery {
    height: 95px;
  }

  .filter-gallery__caption {
    margin-bottom: 5px;
  }

  .gallery-swiper {
    height: 367px;
    margin-bottom: 18px;
    order: 1;
  }

  .slider-nav__item {
    height: 367px;
  }

  .slider-nav__item:not(:last-child) {
    margin-right: 0;
  }

  .right-gallery__nav {
    display: inline-flex;
    align-self: center;
    margin-bottom: 20px;
    width: 144px;
    order: 2;
  }

  .right-gallery__prev {
    margin-left: 7px;
  }

  .swiper-pagination-fraction {
    padding: 0;
  }

  .gallery__content_tablet {
    display: flex;
    order: 3;
  }

}
}
