@media (max-width: 1190px) {
  .container {
    padding: 0 50px;
  }

  .hero__container {
    padding: 114px 50px 68px 50px;
  }

  .hero-swiper {
    top: -36px;
  }

  .hero__content {
    width: 75%;
  }

  .hero__title {
    margin-bottom: 11px;
  }

  .hero__text {
    margin-bottom: 133px;
  }

  .hero__btn {
    padding: 20px 32px;
  }

  .header-bottom {
    display: none;
  }

  .header-top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-top__logo {
    margin-right: 0;
  }

  .header__burger {
    position: relative;
    display: block;
    z-index: 11;
  }

  .burger.active {
    position: fixed;
    top: 38px;
    left: 50px;
  }

  .nav__list {
    display: block;
  }

  .header-top__nav {
    margin-bottom: 113px;
  }

  .header-top__right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 100%;
    padding: 76px 173px 105px 15px;
    width: 100%;
    height: 768px;
    background-color: rgb(0, 0, 0, 0.9);
    transition: all .4s ease 0s;
    z-index: 2;
  }

  .header-top__right.active {
    right: 0;
    z-index: 10;
  }

  .header-top__right {
    padding: 96px 50px 10px 48px;
  }

  .search-form {
    display: none;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: translate(120%, 15%);
    overflow: hidden;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .search-form__active {
    display: inline-flex;
    width: 259px;
    height: 37px;
    background-color: var(--color-baltic);
    transform: translate(-13%, 15%);
    opacity: 1;
    z-index: 1;
  }

  .search-form__input {
    height: 31px;
  }

  .search-form__input::-webkit-input-placeholder {
    font-size: 0;
  }

  .search-form__input::-moz-placeholder {
    font-size: 0;
  }

  .search-form__input:-ms-input-placeholder {
    font-size: 0;
  }

  .search-form__input::-ms-input-placeholder {
    font-size: 0;
  }

  .search-form__input::placeholder {
    font-size: 0;
  }

  .search-margin {
    width: 29.5px;
    height: 28.85px;
    background-image: url('../img/svg/search-1024.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease-in-out;
  }

  .search-margin.active {
    opacity: 0;
  }

  .search-form__icon {
    display: flex;
    width: 30px;
    height: 29px;
  }

  .nav__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 267%;
    color: var(--color-white);
  }

  .header-top__login {
    padding: 17px 89px;
    font-weight: 600;
    border: 2px solid var(--color-amethyst);
    border-radius: 100px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  .header-top__login:active {
    color: var(--color-white);
    background-color: var(--color-amethyst);
  }

  .hero__slide_1::before {
    background-image: url('../img/hero/hero1-1024.jpg');
  }

  .hero__slide_2::before {
    background-image: url('../img/hero/hero2-1024.jpg');
  }

  .hero__slide_3::before {
    background-image: url('../img/hero/hero3-1024.jpg');
  }

  .about-us {
    padding-top: 78px;
    padding-bottom: 54px;
  }

  .about-us__container {
    max-width: 100%;
  }

  .gallery {
    min-height: 839px;
    background-image: url('../img/gallery/gallery-bg-tablet.jpg');
  }

  .gallery__container {
    padding-top: 80px;
  }

  .gallery__content {
    max-width: 100%;
  }

  .gallery__left {
    max-width: 280px;
  }

  .gallery-swiper {
    height: 600px;
    z-index: 0;
  }

  .filter-gallery {
    height: 447px;
  }

  .slider-nav__item {
    height: 280px;
  }

  /* catalogue */
  .catalog {
    padding-top: 79px;
    padding-bottom: 40px;
  }

  .catalog__title {
    margin-right: 42px;
  }

  .catalog__tabs {
    padding-top: 18px;
  }

  .tabs__info {
    max-width: 100%;
  }

  .catalog__accordion {
    max-width: 47%;
  }

  .accordion__painter-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 460px;
    padding: 27px 0 25px 0;
  }

  .accordion__painter-item {
    margin-right: 14%;
  }

  .content-acc {
    padding: 25px 0 25px 0;
  }

  .content-acc__wrapper {
    width: 48%;
    padding: 0;
  }

  .content-acc__text {
    width: 100%;
  }

  .content-acc__img {
    display: inline-flex;
    width: 189px;
    height: 130px;
    margin-right: 24px;
    background-image: url('../img/catalog/empty-pic1024.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
  }

  .painter__info {
    width: 100%;
    line-height: 32px;
  }

  .event {
    padding-top: 41px;
    padding-bottom: 80px;
  }

  .event__slider {
    height: 686px;
  }

  .event-card__img {
    height: 200px;
    z-index: 3;
  }

  .event-card__img_1 {
    background-image: url('../img/event/event-1-tab.jpg');
  }

  .event-card__img_2 {
    background-image: url('../img/event/event-2-tab.jpg');
  }

  .event-card__img_3 {
    background-image: url('../img/event/event-3-tab.jpg');
  }

  .event-card__img_4 {
    background-image: url('../img/event/event-4-tab.jpg');
  }

  .event-card__img_5 {
    background-image: url('../img/event/event-5-tab.jpg');
  }

  .event-card__content {
    padding: 17px 19px 57px 35px;
  }

  .edition__left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 15px;
    max-width: 277px;
    width: 277px;
  }

  .edition__slider {
    height: 530px;
  }

  .edition-slide__item_img {
    height: 321px;
  }

  .edition-slide__wrapper {
    width: 65%;
  }

  .edition-slide__content {
    min-height: 60px;
    padding-top: 9px;
  }

  .edition-slide__title {
    width: 79%;
  }

  .edition-slide__price {
    white-space: nowrap;
  }

  .form-price {
    width: 100%;
  }
}

@media (max-width: 922px) {
  .header-top {
    padding: 27px 0;
  }

  .hero__content {
    width: 100%;
  }

  .hero__slide_1::before {
    background-image: url('../img/hero/hero1-768.jpg');
  }

  .hero__slide_2::before {
    background-image: url('../img/hero/hero2-768.jpg');
  }

  .hero__slide_3::before {
    background-image: url('../img/hero/hero3-768.jpg');
  }

  .gallery {
    padding-bottom: 70px;
    background-image: url('../img/gallery/gallery-bg768.jpg');
  }

  .gallery__container {
    flex-direction: column;
  }

  .gallery-swiper {
    margin-bottom: 24px;
  }

  .slider-nav__item {
    height: calc((100% - 34px) / 2);
  }

  .filter-gallery {
    height: 106px;
  }

  .gallery__content {
    display: none;
  }

  .gallery__content_tablet {
    display: flex;
  }

  .is-open .choices__list--dropdown .choices__list {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .search-margin {
    z-index: 10;
  }

  .search-form__input {
    width: 625px;
    height: 40px;
  }

  .search-form__active {
    display: inline-flex;
    width: 92%;
    height: 50px;
    padding-left: 30px;
    padding-right: 25px;
    background-color: var(--color-bg);
    transform: translate(-4%, -5%);
    opacity: 1;
    z-index: 50;
  }

  .search-form__btn_close {
    display: flex;
    transform: translate(17px, 9px);
  }

  .tabs__item:not(:last-child) {
    margin-right: 23%;
  }

  .catalog {
    padding-bottom: 40px;
  }

  .catalog__tabs {
    padding-top: 8px;
  }

  .tabs__wrapper {
    flex-direction: column;
  }

  .tabs__info {
    margin-bottom: 21px;
  }

  .tabs__container {
    max-width: 100%;
    width: 100%;
    order: 2
  }

  .catalog__accordion {
    margin-bottom: 49px;
    max-width: 100%;
    order: 1;
  }

  .painter {
    max-width: 100%;
  }

  .painter__img {
    margin-bottom: 28px;
  }

  .painter__info {
    width: 100%%;
  }

  .accordion__painter-list {
    max-height: 345px;
    padding: 27px 0 25px 0;
  }

  .accordion__painter-item {
    margin-right: 9%;
  }

  .content-acc__wrapper {
    padding: 40px 0;
  }

  .content-acc__img {
    display: inline-flex;
    width: 275px;
    height: 189px;
    margin-right: 24px;
    background-image: url('../img/catalog/empty-pic768.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
  }

  .event {
    padding-top: 30px;
    padding-bottom: 189px;
  }

  .event-card__content {
    padding: 17px 19px 55px 35px;
  }

  .edition__left {
    width: 100%;
    height: 380px;
  }

  .edition__container {
    flex-direction: column;
  }

  /* .edition__category {
    width: 650px;
  } */

  /* .category__container {

    display: flex;
    flex-direction: column;

    max-width: 100%;
  } */
  .edition__left {
    max-width: 700px;
  }

  .category__container {
    max-width: 100%;
  }

  .category__list {
    max-width: 700px;
    align-items: normal;
  }

  .category__form {
    position: relative;
    max-width: 700px;
    height: 212px;
    padding-top: 30px;
    -moz-column-count: 3;
    column-count: 3;
  }

  .category__caption {
    position: absolute;
    left: 0;
    top: 0px;
  }

  .category__price {
    position: absolute;
    left: 0;
    bottom: -72px;
  }

  /* .price-form {
    width: 50%;
  } */

}

@media (max-width: 767px) {
  .event {
    padding-bottom: 80px;
  }

  .catalog__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .catalog__title {
    margin-bottom: 30px;
  }

  .accordion__painter-item {
    margin-right: 15%;
  }

  .accordion__painter-list {
    max-height: 440px;
  }

  .event__btn {
    display: none;
  }

  .event__pagination {
    display: none;
  }

  .event__swiper-container .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -38px;
  }

  .event__swiper-container .swiper-pagination-bullet {
    display: flex;
    flex-shrink: 0;
    width: 13px;
    height: 13px;
    background-color: var(--color-dove);
  }

  .event__swiper-container .swiper-pagination-bullet:not(:last-child) {
    margin-right: 16px;
  }

  .edition__left {
    width: inherit;
    margin: 0;
  }

}

@media (max-width: 620px) {

  .hero__title {
    font-size: 60px;
    line-height: 75px;
  }

  .header-top__right {
    height: 752px;
    padding: 100px 50px 10px 50px;
  }

  .header-top__nav {
    margin-bottom: 70px;
  }

  .event {
    padding-bottom: 100px;
  }

  .event__pagination {
    display: none;
  }

  .edition-slide__item_img {
    height: 320px;
  }
}

@media (max-width: 580px) {
  .category__form {
    width: 100%;
    -moz-column-count: unset;
         column-count: unset;
}
  .category__list {
    align-items: stretch;
    width: 100%;
    margin-bottom: 30px;
  }

  .category__caption {
    border-top: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
  }

  .category__caption {
    font-size: 16px;
    transition: color 0.3s ease;
  }

  .category__caption::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    width: 8px;
    height: 8px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    transform: translateY(calc(-50% - 0.5px)) rotate(45deg);
    transition: transform 0.3s ease;
  }

  .category__caption.is-active::after {
    transform: translateY(-50%) rotate(225deg);
  }

  .category__caption.is-active~.checkbox-wrap .checkbox-content,
  .category__caption:not(.is-active)~.checkbox-wrap .checkbox:checked~.checkbox-content {
    min-height: 45px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    opacity: 1;
  }

  .checkbox-wrap .checkbox-content {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 0;
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0 solid transparent;
    opacity: 0;
    transition-property: min-height, opacity, padding, border;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }

  .checkbox:checked~.checkbox-content .close-icon {
    opacity: 1;
  }

  .close-icon {
    position: absolute;
    right: 0;
    top: 12px;
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  .close-icon::before,
  .close-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: var(--color-helitrope);
  }

  .close-icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .close-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .category__price {
    position: initial;
  }
}

@media (max-width: 530px) {
  .container {
    padding: 0 15px;
  }

  .burger {
    width: 25px;
    height: 18px;
  }

  .burger.active {
    position: fixed;
    top: 17px;
    left: 15px;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(1px, 5px);
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -10px);
  }

  .burger .line {
    height: 2px;
  }

  .burger .line:nth-child(2) {
    width: 65%;
  }

  .burger .line:nth-child(3) {
    width: 45%;
  }

  .search-margin {
    width: 18px;
    height: 18px;
    background-image: url('../img/svg/search-320.svg');
  }

  .close-btn {
    display: flex;
    position: absolute;
    top: -11px;
    right: -32px;
    width: 15px;
    height: 15px;
  }

  .close-btn svg {
    background-color: var(--color-white);
  }

  .search-form__icon {
    display: flex;
    width: 16px;
    height: 16px;
  }

  .search-form__active {
    background-color: var(--color-bg);
    padding: 19px 26px 0px 58px;
    width: 101%;
    height: 75px;
    transform: translate(5%, -16%);
  }

  .search-form__input {
    width: 74%;
    height: 38px;
  }

  .header-top {
    padding: 10px 0;
  }

  .header-top__right {
    height: 355px;
    padding: 46px 50px 10px 15px;
  }

  .header-top__nav {
    margin-bottom: 19px;
  }

  .header-top__login {
    padding: 9px 27px;
    min-width: 115px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .nav__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }

  .hero {
    min-height: 100px;
  }

  .hero-swiper {
    top: -20px;
  }

  .hero__slide_1::before {
    background-image: url('../img/hero/hero1-320.jpg');
  }

  .hero__slide_2::before {
    background-image: url('../img/hero/hero2-320.jpg');
  }

  .hero__slide_3::before {
    background-image: url('../img/hero/hero3-320.jpg');
  }

  .hero__container {
    padding: 33px 15px 50px 15px;
  }

  .hero__title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 13px;
    text-align: center;
  }

  .hero__text {
    max-width: 95%;
    padding-left: 15px;
    margin-bottom: 41px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .hero__btn {
    display: flex;
    align-items: center;
    padding: 9px 15px;
    margin: 0 auto;
    min-width: 200px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .about-us {
    padding-top: 45px;
    padding-bottom: 27px
  }

  .title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .about-us__title {
    margin-bottom: -2px;
  }

  .about-us__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    padding-top: 50px;
    padding-bottom: 40px;
    background-image: url('../img/gallery/gallery-bg320.jpg');
  }

  .gallery__title {
    margin-bottom: 12px;
  }

  .gallery__left {
    margin-right: 0;
    max-width: 290px;
  }

  .gallery__right {
    display: flex;
    flex-direction: column;
  }

  .filter-gallery {
    height: 95px;
  }

  .filter-gallery__caption {
    margin-bottom: 5px;
  }

  .gallery-swiper {
    height: 367px;
    margin-bottom: 18px;
    order: 1;
  }

  .slider-nav__item {
    height: 367px;
  }

  .slider-nav__item:not(:last-child) {
    margin-right: 0;
  }

  .right-gallery__nav {
    display: inline-flex;
    align-self: center;
    margin-bottom: 20px;
    width: 144px;
    order: 2;
  }

  .right-gallery__prev {
    margin-left: 7px;
  }

  .swiper-pagination-fraction {
    padding: 0;
  }

  .gallery__content_tablet {
    display: flex;
    order: 3;
  }

  .catalog {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .catalog__tabs {
    margin-bottom: 9px;
  }

  .catalog__title {
    margin-bottom: 4px;
  }

  .tabs__info {
    display: none;
  }

  .tabs__item:not(:last-child) {
    margin-right: 23%;
  }

  .tabs__btn {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center center;
    z-index: 2;
  }

  .tabs__btn::after {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    bottom: -8px;
    right: -8px;
    background-color: transparent;
    border: 2px solid var(--color-active);
    border-radius: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .tabs__btn-active::after {
    opacity: 1;
  }

  .accordion__control {
    padding: 20px 0;
  }

  .accordion__title {
    font-size: 18px;
  }

  .accordion__icon {
    width: 30px;
    height: 30px;
  }

  .accordion__icon::before {
    content: "";
    position: absolute;
    left: 29%;
    top: 33%;
    width: 11px;
    height: 11px;
    border: 2px solid transparent;
    background-image: url(../img/svg/gallery-arrow320.svg);
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center;
  }

  .accordion__painter-list {
    max-height: 815px;
    padding: 19px 0 21px 0;
  }

  .painter__img {
    margin-bottom: 17px;
  }

  .painter__name {
    margin-bottom: 14px;
  }

  .painter__info {
    width: 98%;
    line-height: 32px;
  }

  .content-acc {
    padding: 25px 0 25px 0;
  }

  .content-acc__wrapper {
    padding: 0;
    width: 65%;
  }

  .content-acc__img {
    display: inline-flex;
    width: 96px;
    height: 129px;
    margin-right: 25px;
    background-image: url('../img/catalog/empty-pic320.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
  }

  .content-acc__title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: var(--color-grey);
  }

  .content-acc__text {
    margin-bottom: 5px;
  }

  .event {
    padding-top: 11px;
    padding-bottom: 100px;
  }

  .event-card__content {
    padding: 13px 10px 60px 29px;
  }

  .edition__container {
    overflow: hidden;
  }

  .edition__slider {
    overflow: visible;
  }

  .edition-slide__item_img {
    height: 143px;
  }

}
