html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans-Italic.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-white: #ffffff;
  --color-amethyst: #9d5cd0;
  --color-biloba: #d1a9f0;
  --color-grey: #333;
  --color-dove: #666;
  --color-helitrope: #c283f3;
  --color-active: #7943a4;
  --color-bg: #000;
  --color-dusty: #999;
  --color-silver: #cacaca;
  --color-baltic: #18171b;
  --color-gallery: #ececec;
  --color-input: #eaeaea;
  --color-wrong: #d11616;
  --modal-duration: 1s;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: var(--color-grey);
  background-color: var(--color-white);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

.lock {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.left {
  width: 100%;
  text-align: left;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* header */
.header {
  position: relative;
  z-index: 1;
}

.header__wrapper {
  background-color: var(--color-bg);
}

.header-top {
  padding: 27px 0;
}

.header-top__container {
  display: flex;
  align-items: center;
  position: relative;
}

.header-top__right {
  display: flex;
  align-items: center;
  width: 78%;
}

/* burger */
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 36px;
  height: 28px;
  cursor: pointer;
}

.header__burger {
  width: 36px;
  display: none;
}

.burger .line:nth-child(1) {
  width: 100%;
}

.burger .line:nth-child(2) {
  width: 80%;
}

.burger .line:nth-child(3) {
  width: 60%;
}

.burger:not(.active):active .line:nth-child(1) {
  width: 90%;
}

.burger:not(.active):active .line:nth-child(2) {
  width: 80%;
}

.burger:not(.active):active .line:nth-child(3) {
  width: 60%;
}

.burger .line {
  position: relative;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  transition: 0.2s ease-in-out;
}

.burger.active .line:nth-child(2) {
  width: 0%;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(7px, 11px);
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -11px);
  width: 100%;
}

.stop-scroll {
  overflow: hidden;
}

.header-top__logo {
  margin-right: auto;
}

.header-top__nav {
  display: flex;
  margin-right: auto;
  width: calc(72% + -2px);
}

.header-top__login {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.header-top__login svg {
  fill: currentColor;
}

.header-top__login::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  background-color: var(--color-active);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-top__login:focus {
  outline: none;
}

.header-top__login:focus-visible::after {
  opacity: 1;
}

.header-top__login:hover:not(:focus-visible) {
  color: var(--color-helitrope);
}

.header-top__login:active:not(:focus-visible) {
  color: var(--color-active);
  background-color: transparent;
}

.header-top__svg {
  margin-right: 7px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav__item:not(:last-child) {
  margin-right: 10px;
}

.nav__link {
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 600;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.nav__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -6px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  background-color: var(--color-active);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:focus {
  outline: none;
}

.nav__link:focus-visible::after {
  opacity: 1;
}

.nav__link:hover:not(:focus-visible) {
  color: var(--color-helitrope);
}

.nav__link:active:not(:focus-visible) {
  color: var(--color-active);
  background-color: transparent;
}

.nav-category__list {
  display: flex;
  justify-content: space-between;
  width: calc(64% + 13px);
}

.nav-category__item:not(:last-child) {
  margin-right: 10px;
}

.nav-category__btn {
  position: relative;
  z-index: 1;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: var(--color-white);
  border: 1px solid transparent;
  cursor: pointer;
  background: initial;
  transition: color 0.3s ease-in-out;
}

.nav-category__btn svg {
  stroke: currentColor;
}

.nav-category__btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  background-color: var(--color-active);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav-category__btn:hover:not(:focus-visible) {
  color: var(--color-amethyst);
}

.nav-category__btn:focus {
  outline: none;
}

.nav-category__btn:focus-visible::after {
  opacity: 1;
}

.nav-category__btn.focus-visible {
  color: var(--color-white);
}

.header__wrap {
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.4);
}

.header-bottom {
  display: flex;
  align-items: center;
  padding: 22px 0 21px;
}

.header-bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.header-bottom__nav {
  display: flex;
  margin-right: auto;
  width: 100%;
}

.search-form {
  position: absolute;
  top: 93px;
  right: 15px;
  z-index: 5;
  display: flex;
  width: 251px;
  transform: translateY(2px);
}

.search-form:focus {
  outline: none;
}

.search-form__input:hover {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-helitrope);

}

.search-form-input:active {
  color: var(--color-white);
  border-bottom: 2px solid var(--color-helitrope);
}

.search-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.search-form__input::-moz-placeholder {
  color: var(--color-white);
}

.search-form__input:-ms-input-placeholder {
  color: var(--color-white);
}

.search-form__input::-ms-input-placeholder {
  color: var(--color-white);
}

.search-form__input::placeholder {
  color: var(--color-white);
}

search-form__input::-webkit-input-placeholder:active {
  color: var(--color-white);
}

search-form__input::-moz-placeholder:active {
  color: var(--color-white);
}

search-form__input:-ms-input-placeholder:active {
  color: var(--color-white);
}

search-form__input::-ms-input-placeholder:active {
  color: var(--color-white);
}

.search-form__label {
  display: flex;
}

.search-form__input {
  padding: 0;
  width: 218px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-white);
  outline: none;
}

.search-form__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}

.search-form__btn svg {
  margin-right: 7px;
  transform: translateY(2px);
}

.search-form__btn_close {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: 176%;
  width: 300px;
  height: 300px;
  padding: 0 40px;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  overflow: auto;
}

.dropdown-menu__item {
  position: relative;
  z-index: 1;
  padding: 8px 122px 9px 12px;
  margin-bottom: 20px;
  cursor: pointer;
}

.dropdown-menu__item:focus {
  background-color: rgba(216, 143, 153, 1);
  outline: 2px solid var(--color-amethyst);
  z-index: 2;
  outline-offset: -2px;
}

.dropdown-menu__item:hover {
  outline: 2px solid var(--color-amethyst);
  outline-offset: -2px;
}

.dropdown-menu__item:active {
  outline: 2px solid var(--color-biloba);
  outline-offset: -2px;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.dropdown-menu__link {
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: var(--color-white);
  outline: none;
}

.dropdown-menu__item::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  border: 2px solid var(--color-biloba);
}

.dropdown-menu__item:active::after {
  opacity: 1;
}

.dropdown-menu__link:hover:not(:focus-visible) {
  color: var(--color-white);
}

.dropdown-menu__link:active:not(:focus-visible) {
  color: var(--color-white);
}

.dropdown-btn-active {
  color: var(--color-active);
  transition: color 0.3s ease-in-out;
}

.dropdown-btn-active svg {
  transform: rotate(-180deg) translateY(2px);
  transition: transform 0.3s ease-in-out;
}

.dropdown-active {
  display: block;
}

.simplebar-mask {
  top: 40px;
  bottom: 40px;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  right: 19px;
  top: 40px;
  bottom: 40px;
  background-color: var(--color-bg);
}

.simplebar-scrollbar {
  width: 2px;
  background-color: var(--color-white);
}

.simplebar-scrollbar::before {
  top: 14px;
  bottom: 14px;
}


/* hero */
.hero {
  position: relative;
  height: 100%;
  min-height: 672px;
  z-index: 0;
}

.hero__container {
  position: relative;
  max-width: 1630px;
  margin: 0 auto;
  padding: 73px 15px 75px 15px;
  z-index: 1;
}

.hero-swiper {
  display: flex;
  position: absolute;
  top: -72px;
  left: 0;
  right: 0;
  bottom: -50px;
  width: 100%;
  height: 105%;
  border-bottom: 1px solid white;
  background-color: transparent;
  z-index: -1;
}

.hero__slide {
  background-repeat: no-repeat;
}

.hero__slide_1,
.hero__slide_2,
.hero__slide_3 {
  position: relative;
  overflow: hidden;
}

.hero__slide_1::before,
.hero__slide_2::before,
.hero__slide_3::before {
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__slide_1::before,
.hero__slide_2::before,
.hero__slide_3::before {
  position: absolute;
  -webkit-animation: bg-animation 20s linear infinite;
  animation: bg-animation 20s linear infinite;
  content: '';
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
}

.hero__slide_1::before {
  background-image: url('../img/hero/hero1.jpg');
}

.hero__slide_2::before {
  background-image: url('../img/hero/hero2.jpg');
}

.hero__slide_3::before {
  background-image: url('../img/hero/hero3.jpg');
}

@-webkit-keyframes bg-animation {
  0% {
    transform: scale(1, 1);

  }

  50% {
    transform: scale(1.3, 1.3);

  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes bg-animation {
  0% {
    transform: scale(1, 1);

  }

  50% {
    transform: scale(1.3, 1.3);

  }

  100% {
    transform: scale(1, 1);
  }
}


/* hero content */
.hero__content {
  width: 35%;
}

.hero__title {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 72px;
  line-height: 83px;
  color: var(--color-white);
}

.hero__text {
  margin: 0 0 92px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-white);
}

.hero__btn {
  position: relative;
  z-index: 1;
  padding: 19px 32px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  background-color: var(--color-amethyst);
  border: 3px solid transparent;
  border-radius: 100px;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.hero__btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -6px;
  top: -6px;
  right: -7px;
  bottom: -6px;
  background-color: transparent;
  border: 2px solid var(--color-helitrope);
  border-radius: 50px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hero__btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  background-color: transparent;
  border: 3px solid var(--color-white);
  border-radius: 50px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hero__btn:focus {
  outline: none;
}

.hero__btn:focus:not(:focus-visible) {
  outline: 0;
}

.hero__btn:focus-visible::before,
.hero__btn:focus-visible::after {
  opacity: 1;
}

.hero__btn:hover:not(:focus-visible) {
  border: 3px solid var(--color-biloba);
}

.hero__btn:active:not(:focus-visible) {
  background-color: var(--color-active);
  border: 3px solid var(--color-biloba);
}

/* about-us */
.about-us {
  padding-top: 41px;
  padding-bottom: 54px;
}

.about-us__container {
  max-width: 68%
}

.title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
}

.about-us__title {
  margin-bottom: 14px;
}

.about-us__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* gallery */
.gallery {
  background-color: #000;
  background-image: url('../img/gallery/gallery-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 595px;
}

.gallery__container {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-bottom: 72px;
}

.gallery__title {
  margin: 0 0 17px 0;
  color: var(--color-white);
}

.gallery__left {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 50px;
  max-width: 400px;
  width: 400px;
}

.filter-gallery {
  display: flex;
  flex-direction: column;
  /* height: 636px; */
}

.filter-gallery__caption {
  display: flex;
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.filter-gallery__select {
  display: inline-flex;
  max-width: 100%;
}

/* category */
.gallery__left-edition {
  margin-top: auto;
}

.painting-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  list-style: none;
}

.checkbox-wrap {
  color: var(--color-white);
  cursor: pointer;
  transition: color 0.3s ease;
}

.checkbox-wrap:hover {
  color: var(--color-helitrope);
}

.checkbox-wrap:hover .visual-check {
  border-color: var(--color-helitrope);
}

.checkbox-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 13px;
}

.visual-check {
  position: relative;
  display: inline-flex;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  border: 1px solid var(--color-white);
  transition: border-color 0.3s ease;
}

.visual-check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--color-helitrope);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.checkbox:focus:not(:checked)~.checkbox-content .visual-check,
.checkbox:checked~.checkbox-content .visual-check {
  border-color: var(--color-helitrope);
}

.checkbox:focus:not(:checked)~.checkbox-content .check-text,
.checkbox:checked~.checkbox-content .check-text {
  color: var(--color-helitrope);
}

.checkbox:checked~.checkbox-content .visual-check::before {
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* choices */
.choices__inner {
  position: relative;
  width: 100%;
  min-height: auto;
  padding: 8px 15px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 6px;
}

.is-open .choices__inner {
  width: 100%;
  min-height: auto;
  padding: 8px 15px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 6px;
}


.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.20);
  z-index: 2;
}

.choices__inner:focus {
  background-color: rgba(255, 255, 255, 0.20);
  border: 1px solid var(--color-white);
  outline: none;
  z-index: 2;
}

.is-open .choices__list--dropdown {
  position: absolute;
  background-color: transparent;
  border: 1px solid var(--color-dusty);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  word-break: inherit;
}

.choices__list--dropdown .choices__item {
  padding: 14px 15px;
  color: var(--color-dusty);
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid var(--color-dusty);
}

.is-open .choices__list--dropdown .choices__item {
  background-color: transparent;
}

.is-open .choices__list--dropdown .choices__item:hover {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.20);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after {
  display: none;
}

.choices__item {
  color: var(--color-white);
}

.choices__placeholder {
  opacity: 1;
}

.choices[data-type*=select-one]:after {
  height: 15px;
  width: 15px;
  background-image: url('../img/svg/dropdown-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
  position: absolute;
  right: 11.5px;
  top: 40%;
  margin-top: -2.5px;
  pointer-events: none;
  z-index: 0;
}

.choices[data-type*=select-one].is-open:after {
  height: 15px;
  width: 15px;
  background-image: url('../img/svg/dropdown-icon-active.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
  position: absolute;
  right: 11.5px;
  top: 45%;
}

.choices__list--dropdown [data-id="1"] {
  display: none;
}

.choices__list--single {
  padding: 1px 0 5px 0;
}

.choices__list--single .choices__item {
  width: 100%;
  letter-spacing: 1px;
}

.choices__item--selectable {
  letter-spacing: 1px;
}

/* gallery images*/

.gallery__right {
  padding-top: 22px;
  min-width: 0;
}

/* slider navigation */
.right-gallery__prev,
.right-gallery__next {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: var(--color-dove);
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.right-gallery__prev:focus,
.right-gallery__next:focus {
  background-color: var(--color-dove);
  border: 2px solid var(--color-bg);
  outline: none;
}

.right-gallery__prev:hover,
.right-gallery__next:hover {
  background-color: var(--color-amethyst);
}

.right-gallery__prev:active,
.right-gallery__next:active {
  background-color: var(--color-active);
  border: 2px solid var(--color-bg);
}

.right-gallery__prev {
  margin-left: 3px;
}

.right-gallery__prev svg {
  transform: translate(-2px, 0);
}

.right-gallery__next svg {
  transform: translate(1px, 0);
}

.gallery-swiper {
  width: 100%;
  padding: 3px;
}

.slider-nav {
  display: inline-flex;
  align-items: center;
  margin-bottom: 28px;
}

.gallery-nav__item {
  display: block;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery-nav__item:not(:last-child) {
  margin-right: 50px;
}

.gallery-nav__item:before {
  content: "";
  position: absolute;
  top: 25px;
  bottom: 25px;
  right: 25px;
  left: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/svg/magnifying-glass.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0;
  transition-property: z-index, opacity;
  transition: 0.3s ease-in-out;
}

.gallery-nav__item:focus {
  outline: 3px solid var(--color-active);
}

.gallery-nav__item:hover::before {
  z-index: 1;
  opacity: 1;
}

.gallery-nav__item::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  border: 2px solid var(--color-biloba);
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.gallery-nav__item:active::after {
  z-index: 1;
  opacity: 1;
}

.gallery-nav__item-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center;
  object-position: center;
}

.slider-nav__btn_disabled.swiper-button-disabled {
  background: var(--color-dove);
  opacity: 0.5;
  cursor: unset;
}

.right-gallery__nav .swiper-pagination-fraction {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  padding: 0 18px;
  color: var(--color-white);
  letter-spacing: 3px;
  transform: translateY(3px);
}

/* catalogue */
.catalog {
  padding-top: 80px;
  padding-bottom: 40px;
}

.catalog__top {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.catalog__title {
  margin-right: 38px;
}

.tabs__wrapper {
  display: flex;
}

.tabs__content {
  display: none;
}

.tabs__content-active {
  display: block;
}

.tabs__info {
  display: flex;
  max-width: 68%;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin: 0 0 38px 0;
  color: var(--color-grey);
}

.tabs__container {
  display: flex;
  width: 50%;
}

.painter {
  max-width: 94%;
  display: none;
}

.painter__img {
  margin-bottom: 27px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.painter__link {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-amethyst);
  transition: color 0.3s ease-in-out;
}

.painter__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -6px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  background-color: var(--color-active);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.painter__link:focus {
  color: var(--color-white);
  outline: none;
}

.painter__link:focus-visible::after {
  opacity: 1;
}

.painter__link:hover:not(:focus-visible) {
  color: var(--color-helitrope);
}

.painter__link:active:not(:focus-visible) {
  color: var(--color-active);
  background-color: transparent;
}

.painter-content-active {
  display: block;
}

.accordion__painter-item {
  margin-right: 15px;
}

.accordion__painter-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
  transition: color 0.2s ease-in-out;
}

.accordion__painter-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -2px;
  top: -6px;
  right: -2px;
  bottom: -6px;
  background-color: var(--color-amethyst);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.accordion__painter-link:focus {
  outline: none;
}

.accordion__painter-link:focus-visible {
  color: var(--color-white);
}

.accordion__painter-link:focus-visible::after {
  opacity: 1;
}

.accordion__painter-link:hover:not(:focus-visible) {
  color: var(--color-helitrope);
  border-bottom: 1px solid var(--color-helitrope);
}

.accordion__painter-link:active:not(:focus-visible) {
  color: var(--color-active);
  background-color: transparent;
}

.accordion__painter-link_active {
  color: var(--color-active);
}

.accordion__painter-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 340px;
  padding: 27px 60px 25px 2px;
}

.painter__name {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.painter__name_unknown {
  margin-bottom: 15px;
}

.painter__years-life {
  display: block;
  margin: 0 0 6px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-dusty);
}

.painter__info {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
}

.painter__info_unknown {
  margin-bottom: 15px;
}

.catalog__accordion {
  max-width: 50%;
  width: 100%;
  margin-left: auto;
}

.accordion__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 32px 0;
  margin-top: -1px;
  width: 100%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--color-silver);
  z-index: 0;
  transition: color 0.3s ease-in-out;
}

.accordion__control:first-child {
  border-color: var(--color-silver);
}

.ui-state-hover.accordion__control {
  border-top: 1px solid var(--color-helitrope);
  border-bottom: 1px solid var(--color-helitrope);
  z-index: 5;
}

.ui-state-active.accordion__control {
  border-top: 1px solid var(--color-active);
  border-bottom: 1px solid var(--color-active);
  z-index: 0;
}

.accordion__control:focus {
  outline: none;
}

.accordion__control:hover:not(:focus-visible)>.accordion__title {
  color: var(--color-helitrope);
}

.accordion__control:hover:not(:focus-visible) {
  border-color: var(--color-helitrope);
  z-index: 2;
}


.accordion__control:active:not(:focus-visible)>.accordion__title {
  color: var(--color-active);
}

.accordion__control:hover>.accordion__icon {
  background-color: var(--color-biloba);
}

.ui-state-active .accordion__title {
  color: var(--color-active);
}

.ui-state-active .accordion__icon {
  transform: rotate(180deg);
  background-color: var(--color-biloba);
  border: 2px solid var(--color-amethyst);
}

.ui-state-focus .accordion__icon {
  background-color: var(--color-biloba);
}

.accordion__title {
  display: block;
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-grey);
  z-index: 1;
  outline: none;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.accordion__title::after {
  content: " ";
  position: absolute;
  z-index: -1;
  left: -1px;
  top: -6px;
  right: -1px;
  bottom: -6px;
  background-color: var(--color-amethyst);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.accordion__title:focus-visible {
  color: var(--color-white);
}

.accordion__title:focus-visible::after {
  opacity: 1;
}

.accordion__icon {
  display: flex;
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--color-gallery);
  transition: transform 0.3s ease-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.accordion__icon::before {
  content: "";
  position: absolute;
  left: 30%;
  top: 34%;
  width: 19px;
  height: 19px;
  border: 2px solid transparent;
  background-image: url('../img/svg/gallery-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center;
}

.content-acc {
  display: flex;
  flex-direction: row;
  padding: 25px 30px 25px 0;
  background-color: var(--color-white);
}

.content-acc__img {
  display: inline-flex;
  width: 295px;
  height: 189px;
  margin-right: 24px;
  background-image: url('../img/catalog/empty-pic.jpg');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}

.content-acc__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 39px 0;
}

.content-acc__title {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-grey);
}

.content-acc__text {
  margin: 0 0 5px 0;
  width: 60%;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-grey);
}

.content-acc__link {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-amethyst);
  z-index: 1;
  transition: color 0.3s ease-in-out;
}

.content-acc__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -6px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  background-color: var(--color-amethyst);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.content-acc__link:focus {
  outline: none;
}

.content-acc__link:focus-visible {
  color: var(--color-white);
  outline: none;
  z-index: 5;
}

.content-acc__link:focus-visible::after {
  opacity: 1;
}

.content-acc__link:hover:not(:focus-visible) {
  color: var(--color-helitrope);
}

.content-acc__link:active:not(:focus-visible) {
  color: var(--color-active);
  background-color: transparent;
}

/* events */
.event {
  display: flex;
  padding-top: 42px;
  padding-bottom: 40px;
}

.event__container {
  max-width: 100%;
  margin: 0 auto;
}

.event__swiper-container {
  position: relative;
}

.event__slider {
  display: flex;
  width: 100%;
  min-height: 700px;
}

.event__title {
  margin-bottom: 14px;
}

.event__item {
  display: flex;
  flex: 1 0 auto;
  outline: 1px solid var(--color-silver);
  outline-offset: -1px;
}

.swiper-wrapper>.event__item {
  height: unset;
}

.event__article {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 auto;
}

.event-card__img {
  display: inline-flex;
  max-width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.event-card__content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 13px 40px 40px 50px;
  min-height: 347px;
}

.event-card__caption {
  display: flex;
  align-self: flex-start;
  margin: 0 0 14px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: var(--color-dusty);
}

.event-card__title {
  max-width: 85%;
  margin: 0 0 3px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-grey);
}

.event-card__text {
  margin: 0;
}

.event__article {
  display: flex;
  margin: 0;
  width: 94%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
}

.event-card__link {
  display: inline-flex;
  align-self: flex-start;
  position: relative;
  margin-top: auto;
  color: var(--color-amethyst);
}

.event-card__link::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 2px;
  right: 0;
  left: 0;
  background-color: transparent;
  color: currentColor;
  border-bottom: 1px solid currentColor;
  opacity: 1;
}

.event-card__link::before {
  content: '';
  position: absolute;
  top: -7px;
  bottom: -8px;
  right: -6px;
  left: -6px;
  background-color: var(--color-amethyst);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.event-card__link:focus-visible {
  opacity: 1;
}

.event-card__link:focus {
  outline: none;
}

.event-card__link:focus-visible {
  color: var(--color-white);
  z-index: 1;
}

.event-card__link:focus-visible::before {
  opacity: 1;
}

.event-card__link:hover:not(:focus-visible) {
  color: var(--color-active);
}

.event-card__link:hover::after:not(:focus-visible) {
  border-bottom: 1px solid var(--color-active);
}

.event-card__link:active:not(:focus-visible) {
  color: var(--color-grey);
}

.event-card__link:active::after:not(:focus-visible) {
  color: var(--color-grey);
}

.event__pagination {
  position: relative;
  font-size: 0;
}

.event__button-prev,
.event__button-next {
  position: absolute;
  display: flex;

  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: var(--color-gallery);
  z-index: 5;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.event__button-next {
  top: 324px;
  right: -25px;
}

.event__button-prev {
  top: 324px;
  left: -25px;
}

.event__button-next svg {
  width: 20px;
  height: 20px;
  transform: translate(2px, 14px);
}

.event__button-prev svg {
  width: 20px;
  height: 20px;
  transform: translate(-2px, 14px) rotate(180deg);
}

.event__button-prev:focus,
.event__button-next:focus {
  background-color: var(--color-dove);
  border: 2px solid var(--color-amethyst);
  outline: none;
}

.event__button-prev:hover,
.event__button-next:hover {
  background-color: var(--color-biloba);
}

.event__button-prev:active .event__button-next:active {
  background-color: var(--color-biloba);
  border: 2px solid var(--color-amethyst);
}

.event__button-prev_disabled.swiper-button-disabled,
.event__button-next_disabled.swiper-button-disabled {
  display: none;
  background: var(--color-gallery);
  opacity: 0.5;
  cursor: unset;
}

.event__swiper-container .swiper-pagination {
  display: none;
  position: absolute;
  bottom: -28px;
}

/* projects */
.projects {
  padding-top: 40px;
  padding-bottom: 40px;
}

.projects__title {
  margin-bottom: 16px;
}

.projects__text {
  max-width: 67%;
  margin-bottom: 19px;
}

.projects__descr {
  display: block;
  margin: 0;
  /* margin: 0, 0, 21px, 0; */
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.tooltip {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-amethyst);
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out;
  transform: translate(-1px, -5px);
}

.tooltip:hover,
.tooltip:focus {
  background-color: var(--color-biloba);
  outline: none;
}

.tooltip:active {
  background-color: var(--color-amethyst);
}

.tooltip:active svg {
  fill: var(--color-white);
}

.tooltip__svg {
  position: absolute;
  width: 2px;
  height: 10px;
  fill: var(--color-bg);
  transform: translate(-1px, -5px);
}

.tippy-box[data-theme~='purple'] {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding: 6px 2px 6px 2px;
  background-color: var(--color-amethyst);
  color: var(--color-white);
  border-radius: unset;
  text-align: center;
}

.tippy-box[data-theme~='purple'][data-placement^='top']>.tippy-arrow::before {
  border-top-color: var(--color-amethyst);
}

.tippy-box[data-theme~='purple'][data-placement^='bottom']>.tippy-arrow::before {
  border-bottom-color: var(--color-amethyst);
}

.tippy-box[data-theme~='purple'][data-placement^='left']>.tippy-arrow::before {
  border-left-color: var(--color-amethyst);
}

.tippy-box[data-theme~='purple'][data-placement^='right']>.tippy-arrow::before {
  border-right-color: var(--color-amethyst);
}

.projects__link {
  position: relative;
  color: var(--color-amethyst);
}

.projects__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -4px;
  top: -6px;
  right: -4px;
  bottom: -6px;
  color: var(--color-white);
  background-color: var(--color-active);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.projects__link:focus-visible {
  color: var(--color-white);
  outline: none;
}

.projects__link:focus:not(:focus-visible) {
  outline: none;
}

.projects__link:hover:not(:focus-visible) {
  border-bottom: 1px solid var(--color-amethyst);
}

.projects__link:active:not(:focus-visible) {
  color: var(--color-active);
  border-bottom: 1px solid var(--color-active);
}

.projects__link:focus-visible::after {
  opacity: 1;
}

.partners__title {
  margin: 0 0 23px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.partners__container {
  max-width: 100%;
  padding-left: 75px;
  padding-right: 75px;
}

.partners__slider {
  display: flex;
  width: 100%;
  height: 150px;
}

.partners__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  outline: 1px solid var(--color-silver);
  outline-offset: -3px;
}

.partners__link:focus,
.partners__link:active {
  outline: 1px solid var(--color-amethyst);
  transition: outline 0.3s ease-in-out;
}

.partners__img {
  -webkit-filter: grayscale(1) opacity(0.3);
  filter: grayscale(1) opacity(0.3);
  transition: -webkit-filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s, -webkit-filter 0.3s ease 0s;

}

.partners__link:hover .partners__img {
  -webkit-filter: grayscale(0) opacity(1);
  filter: grayscale(0) opacity(1);
}

.partners__pagination {
  position: relative;
}

.partners__button-prev,
.partners__button-next {
  position: absolute;
  top: 60px;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: var(--color-gallery);
  z-index: 11;
}

.partners__button-prev {
  left: -76px;
}

.partners__button-prev svg {
  width: 8px;
  height: 13px;
  transform: translate(-1px, 6px);
}

.partners__button-next {
  right: -76px;
}

.partners__button-next svg {
  width: 8px;
  height: 13px;
  transform: translate(1px, 6px);
}

.partners__button-next:focus,
.partners__button-prev:focus {
  background-color: var(--color-dove);
  border: 2px solid var(--color-amethyst);
  outline: none;
}

.partners__button-next:hover,
.partners__button-prev:hover {
  background-color: var(--color-biloba);
}

.partners__button-next:active,
.partners__button-prev:active {
  background-color: var(--color-biloba);
  border: 2px solid var(--color-amethyst);
}

.partners__button-prev_disabled.swiper-button-disabled,
.partners__button-next_disabled.swiper-button-disabled {
  background: var(--color-gallery);
  opacity: 0.5;
  cursor: unset;
}

/* contacts */
.contacts {
  padding-top: 41px;
}

.contacts__outline {
  padding-top: 9px;
  border: 1px solid var(--color-dusty);
}

.contacts__content {
  display: flex;
  flex-direction: column;
}

.contacts__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 35px;
}

.contacts__caption {
  margin: 0 0 4px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-grey);
}

.contacts__address {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey);
}

.contacts__form {
  max-width: 100%;
}

.map {
  width: 100%;
  height: 700px;
}

.callback__validate {
  position: relative;
}

.callback__validate:not(:last-child) {
  margin-right: 20px;
}

.just-validate-error-label {
  position: absolute;
  padding-left: 25px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-wrong);
  transform: translateY(-65px);
}

.callback__input.is-invalid {
  border: 1px solid var(--color-wrong);
}

.callback__form {
  display: flex;
  align-items: center;
  max-width: 909px;
}

.callback__inner-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 560px;
  margin-right: 20px;
}

.callback__input {
  width: 100%;
  min-width: 270px;
  height: 50px;
  padding: 10px 24px;
  color: var(--color-grey);
  border: 1px solid var(--color-grey);
  border-radius: 100px;
}

.callback__input:focus {
  background-color: var(--color-input);
  outline: none;
}

.callback__input:hover {
  background-color: var(--color-input);
  cursor: pointer;
}

.callback__title {
  margin: 0 0 16px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-grey);
}

.callback__btn {
  position: relative;
  min-width: 270px;
  z-index: 1;
  padding: 11px 33px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-amethyst);
  background-color: transparent;
  border: 2px solid var(--color-amethyst);
  border-radius: 100px;
  transition: color 0.3s ease-in-out, 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.callback__btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  background-color: transparent;
  border: 2px solid var(--color-helitrope);
  border-radius: 50px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.callback__btn:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-amethyst);
}

.callback__btn:focus:not(:focus-visible) {
  outline: 0;
}

.callback__btn:focus-visible::after {
  opacity: 1;
}

.callback__btn:hover:not(:focus-visible) {
  color: var(--color-white);
  background-color: var(--color-amethyst);
}

.callback__btn:active:not(:focus-visible) {
  background-color: var(--color-active);
  border: 2px solid var(--color-biloba);
}

.social__title {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: .5px;
  color: var(--color-grey);
}

.social__list {
  display: flex;
}

.social__item {
  margin-right: 20px;
}

.social__link {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
}

.social__link svg {
  transition: opacity 0.3s ease-in-out;
}

.social__link:focus svg,
.social__link:hover svg {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.social__item:focus,
.social__link:focus {
  outline: none;
}

.social__link::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid #9643A4;
  border-radius: 100px;
  opacity: 0;
}

.social__link:active svg,
.social__link:active::before {
  opacity: 1;
}

.contacts__map-container {
  max-width: 1238px;
  width: 100%;
  height: 700px;
}

.contacts__wrapper_hidden {
  display: none;
}

.contacts__map {
  background-color: lightgrey;
  width: 100%;
  height: 100%;
}

/* map */

[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

[class*="copyrights-pane"] {
  display: none;
}

.footer {
  padding-top: 50px;
  padding-bottom: 36px;
  background-color: var(--color-bg);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social__list {
  display: flex;
  flex-direction: row;
}

.footer-social__item:not(:last-child) {
  margin-right: 20px;
}

.footer-social__link {
  width: 45px;
  height: 45px;
}

.footer-social__link path {
  fill: var(--color-silver);
  transition: fill 0.3s ease-in-out;
  ;
}

.footer-social__link:focus path,
.footer-social__link:hover path {
  fill: var(--color-white);
  transition: fill 0.3s ease-in-out;
}

.footer-social__item:focus,
.footer-social__link:focus {
  outline: none;
}


.footer-social__link:active path {
  fill: var(--color-amethyst);
}
