html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans-Italic.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-white: #ffffff;
  --color-amethyst: #9D5CD0;
  --color-biloba: #D1A9F0;
  --color-grey: #333;
  --color-dove: #666;
  --color-helitrope: #C283F3;
  --color-active: #7943A4;
  --color-bg: #000;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: var(--color-grey);
  background-color: var(--color-white);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header__wrapper {
  background-color: var(--color-bg);
}

.header-top {
  padding: 28px 0;
}

.header-top__container {
  display: flex;
  align-items: center;
}

.header-top__right {
  display: flex;
  align-items: center;
}

.header-top__logo {
  margin-right: auto;
}

.header-top__nav {
  display: flex;
  margin-right: 272px;
}

.header-top__login {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.header-top__login svg {
  fill: currentColor;
}

.header-top__login::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  background-color: var(--color-active);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-top__login:focus {
  outline: none;
}

.header-top__login:focus-visible::after {
  opacity: 1;
}

.header-top__login:hover {
  color: var(--color-helitrope);
}

.header-top__login:active {
  color: var(--color-active);
  background-color: transparent;
}

.header-top__svg {
  margin-right: 7px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 60px;
}

.nav__link {
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 600;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.nav__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -6px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  background-color: var(--color-active);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:focus {
  outline: none;
}

.nav__link:focus-visible::after {
  opacity: 1;
}

.nav__link:hover {
  color: var(--color-helitrope);
}

.nav__link:active {
  color: var(--color-active);
  background-color: transparent;
}

.nav-category__list {
  display: flex;
}

.nav-category__item:not(:last-child) {
  margin-right: 93px;
}

.nav-category__btn {
  position: relative;
  z-index: 1;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: var(--color-white);
  border: 1px solid transparent;
  cursor: pointer;
  background: initial;
  transition: color 0.3s ease-in-out;
}

.nav-category__btn svg {
  stroke: currentColor;
}

.nav-category__btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  background-color: var(--color-active);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav-category__btn:focus {
  outline: none;
}

.nav-category__btn:focus-visible::after {
  opacity: 1;
}

.nav-category__btn:hover {
  color: var(--color-amethyst);
}

.header__wrap {
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.4);
}

.header-bottom {
  display: flex;
  align-items: center;
  padding: 21px 0 21px;

}

.header-bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-bottom__nav {
  display: flex;
}

.search-form {
  position: relative;
  z-index: 1;
  display: flex;
  width: 251px;
  transform: translateY(2px);
}

.search-form::after {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid var(--color-helitrope);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.search-form:focus {
  outline: none;
}

.search-form:focus-visible::after {
  opacity: 1;
}

.search-form__input:hover {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-helitrope);

}

.search-form-input:active {
  color: var(--color-white);
  border-bottom: 2px solid var(--color-helitrope);
}

.search-form__input::-webkit-input-placeholder {
  color: var(--color-white);
}

.search-form__input::-moz-placeholder {
  color: var(--color-white);
}

.search-form__input:-ms-input-placeholder {
  color: var(--color-white);
}

.search-form__input::-ms-input-placeholder {
  color: var(--color-white);
}

.search-form__input::placeholder {
  color: var(--color-white);
}

.search-form__label {
  display: flex;
}

.search-form__input {
  padding: 0;
  width: 218px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-white);
}

.search-form__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}

.search-form__btn svg {
  margin-right: 7px;
  transform: translateY(2px);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: 177%;
  width: 300px;
  height: 300px;
  padding: 0 40px;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  overflow: auto;
}

.dropdown-menu__item {
  position: relative;
  z-index: 1;
  padding: 8px 122px 9px 12px;
  margin-bottom: 20px;
  /* background: url('/img/dropdown/avangard1.jpg'); */
  /* border: 2px solid transparent; */
}

.dropdown-menu__item:hover {
  background-color: rgba(216, 143, 153, 1);
  outline: 2px solid var(--color-amethyst);
  z-index: 2;
}

.dropdown-menu__item:active {
  /* background-color: rgba(216, 143, 153, 1); */
  outline: 2px solid var(--color-biloba);
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.dropdown-menu__link {
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: var(--color-white);
}

.dropdown-menu__item::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -6px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dropdown-menu__item:focus {
  outline: none;
}

.dropdown-menu__item:focus-visible::after {
  opacity: 1;
}

.dropdown-menu__link:hover {
  color: var(--color-white);
}

.dropdown-menu__link:active {
  color: var(--color-white);
}

.dropdown-btn-active {
  color: var(--color-active);
  transition: transform 0.3s ease-in-out;
}

.dropdown-btn-active svg {
  transform: rotate(-180deg) translateY(2px);
  transition: transform 0.3s ease-in-out;
}

.dropdown-active {
  display: block;
}

.simplebar-mask {
  top: 40px;
  bottom: 40px;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  right: 19px;
  top: 40px;
  bottom: 40px;
  background-color: var(--color-bg);
}

.simplebar-scrollbar {
  width: 2px;
  background-color: var(--color-white);
}

.simplebar-scrollbar::before {
  top: 14px;
  bottom: 14px;
}


/* hero */
.hero {
  padding-top: 75px;
  padding-bottom: 0;
  max-width: 100%;
}

.hero__content {
  width: 35%;
}

.hero__title {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 72px;
  line-height: 83px;
  color: var(--color-white);
}

.hero__text {
  margin: 0 0 92px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-white);
}

.hero__btn {
  position: relative;
  z-index: 1;
  padding: 14px 32px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  background-color: var(--color-amethyst);
  border: 3px solid transparent;
  border-radius: 100px;
  transition: border 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.hero__btn .hero__btn-text {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-helitrope);
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hero__btn:focus {
  outline: none;
}

.hero__btn:focus-visible::after {
  opacity: 1;
}

.hero__btn:hover {
  border: 3px solid var(--color-biloba);
}

.hero__btn:active {
  background-color: var(--color-active);
  border: 3px solid var(--color-biloba);
}

.image-container__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  background-size: cover;
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: imagesFading 20s infinite;
  animation: imagesFading 20s infinite;
}

.image-container {
  position: relative;
  margin-top: -568px;
  width: 100%;
  min-height: 702px;
  z-index: -1;
  overflow: hidden;
}

.image-container__three {
  background-image: url("../img/hero/hero3.jpg");
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.image-container__two {
  background-image: url("../img/hero/hero2.jpg");
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.image-container__one {
  background-image: url("../img/hero/hero1.jpg");
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes imagesFading {
  0% {
    opacity: 1;
    width: 100%;
  }

  25% {
    opacity: 1;
    width: 110%;
  }

  53% {
    opacity: 0;
    width: 120%;
  }

  73% {
    opacity: 1;
    width: 110%;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes imagesFading {
  0% {
    opacity: 1;
    width: 100%;
  }

  25% {
    opacity: 1;
    width: 110%;
  }

  53% {
    opacity: 0;
    width: 120%;
  }

  73% {
    opacity: 1;
    width: 110%;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

/* about-us */
.about-us {
  padding-top: 81px;
  padding-bottom: 53px;
}

.about-us__container {
  max-width: 68%
}

.title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
}

.about-us__title {
  margin-bottom: 14px;
}

.about-us__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* gallery */
.gallery {
  background-color: #333;
  background-image: url(../img/gallery/gallery-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 995px;
}

.gallery__container {
  display: flex;
  flex-direction: row;
  padding-top: 82px;
  padding-bottom: 70px;
}

.gallery__title {
  margin: 0 0 17px 0;
  color: var(--color-white);
}

.gallery__left {
  margin-right: 50px;
  max-width: 400px;
}

.filter-gallery {
  display: flex;
  flex-direction: column;
  height: 636px;
}

.filter-gallery__caption {
  display: flex;
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.filter-gallery__select {
  display: inline-flex;
  max-width: 100%;
}

/* choices */
.choices__inner {
  position: relative;
  width: 100%;
  min-height: auto;
  padding: 8px 15px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 6px;
}

.is-open .choices__inner {
  width: 100%;
  min-height: auto;
  padding: 8 px 15px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 6px;
}


.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.20);
}

.is-open .choices__list--dropdown {
  position: absolute;
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  word-break: inherit;
}

.choices__list--dropdown .choices__item {
  padding: 12px;
}

.is-open .choices__list--dropdown .choices__item {
  background-color: transparent;
}

.is-open .choices__list--dropdown .choices__item:hover {
  background-color: rgba(255, 255, 255, 0.20);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after {
  display: none;
}

.choices__item {
  color: var(--color-white);
}

.choices__placeholder {
  opacity: 1;
}

/* .is-focused.is-open.choices {
  background-color: red;
}  */

.choices[data-type*=select-one]:after {
  height: 15px;
  width: 15px;
  background-image: url('../img/svg/dropdown-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
  position: absolute;
  right: 11.5px;
  top: 40%;
  margin-top: -2.5px;
  pointer-events: none;
  z-index: 5;
}

.choices[data-type*=select-one].is-open:after {
  height: 15px;
  width: 15px;
  background-image: url('../img/svg/dropdown-icon-active.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
  position: absolute;
  right: 11.5px;
  top: 45%;
}

.choices__list--dropdown [data-id="1"] {
  display: none;
}

.choices__list--single {
  padding: 1px 0 5px 0;
}

.choices__list--single .choices__item {
  width: 100%;
  letter-spacing: 1px;
}

.choices__item--selectable {
  letter-spacing: 1px;
}

.gallery__content {
  max-width: 95%;
}

.gallery__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  color: var(--color-white);
}

.gallery__link {
  position: relative;
  outline: none;
  color: var(--color-helitrope);
  z-index: 2;
}

.gallery__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -4px;
  top: -6px;
  right: -4px;
  bottom: -6px;
  color: var(--color-white);
  background-color: var(--color-active);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery__link:focus {
  outline: none;
  color: var(--color-white);
}

.gallery__link:focus-visible::after {
  opacity: 1;
}

.gallery__right {
  padding-top: 22px;
  min-width: 0;
}

/* slider navigation */
.right-gallery__prev,
.right-gallery__next {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: var(--color-dove);
  transition: all 0.3s ease-in-out;
}

.right-gallery__prev:focus,
.right-gallery__next:focus {
  border: 2px solid var(--color-bg);
}

.right-gallery__prev:hover,
.right-gallery__next:hover {
  background-color: var(--color-amethyst);
}

.right-gallery__prev:active,
.right-gallery__next:active {
  background-color: var(--color-active);
  border: 2px solid var(--color-bg);
}

.right-gallery__prev {
  margin-left: 3px;
}

.swiper {
  width: 1150px;
  height: 750px;
}

.swiper-slide {
  width: 350px;
  height: 350px;
}

.slider-nav {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
}

.slider-nav__item {
  display: block;
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: darkkhaki;
}

.slider-nav__item:not(:last-child) {
  margin-right: 50px;
}

.swiper-pagination-fraction {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  padding: 0 19px;
  color: var(--color-white);
  letter-spacing: 3px;
  transform: translateY(3px);
}
